/* /Pages/ChangePassword.razor.rz.scp.css */

.form-body[b-qtolvy5lpq] {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1[b-qtolvy5lpq] {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.form-container[b-qtolvy5lpq] {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    box-shadow: 1px 1px 5px black;
}

    .form-container .form-floating:focus-within[b-qtolvy5lpq] {
        z-index: 2;
    }

.form-login .current-password[b-qtolvy5lpq] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .new-password[b-qtolvy5lpq] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* /Pages/Dashboard.razor.rz.scp.css */
.col-6[b-4fl0dohpl6]{
    box-shadow: 1px 1px 5px black;
}
.col-5[b-4fl0dohpl6]{
    box-shadow: 1px 1px 5px black;
}
/* /Pages/Inventory.razor.rz.scp.css */
.sel[b-3e75k7qaqh]{
    width:100%;
    height:40px;
    opacity:0.3;
   
}
/* /Pages/Login.razor.rz.scp.css */

.login-body[b-iks7oi9bpb] {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: calc(100vh - 150px);
}

.row[b-iks7oi9bpb] {
    box-shadow: 1px 1px 10px black;
    width: 420px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-4[b-iks7oi9bpb] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

strong[b-iks7oi9bpb] {
    text-decoration: underline;
}

.col[b-iks7oi9bpb] {
    position: absolute;
    align-items: center;
    padding-left: 100px;
}

p[b-iks7oi9bpb] {
    padding-bottom: 40px;
    padding-top: 20px;
}

.form-login[b-iks7oi9bpb] {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: flex;
}

    .form-login .form-floating:focus-within[b-iks7oi9bpb] {
        z-index: 2;
    }

    .form-login .username[b-iks7oi9bpb] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }


    .form-login .password[b-iks7oi9bpb] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.alert-msg[b-iks7oi9bpb] {
    background-color: RGB(190, 235, 206);
    padding: 10px;
    color: black;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-wrdqwk0ird] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wrdqwk0ird] {
    flex: 1;
}

.sidebar[b-wrdqwk0ird] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-wrdqwk0ird] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wrdqwk0ird]  a, .top-row[b-wrdqwk0ird]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-wrdqwk0ird]  a:hover, .top-row[b-wrdqwk0ird]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-wrdqwk0ird]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wrdqwk0ird] {
        display: none;
    }

    .top-row.auth[b-wrdqwk0ird] {
        justify-content: space-between;
    }

    .top-row[b-wrdqwk0ird]  a, .top-row[b-wrdqwk0ird]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wrdqwk0ird] {
        flex-direction: row;
    }

    .sidebar[b-wrdqwk0ird] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wrdqwk0ird] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-wrdqwk0ird], article[b-wrdqwk0ird] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-d2n921cqr2] {
    background-color: rgba(255, 255, 255, 0.1);
}
a[b-d2n921cqr2] {
    transition: transform .4s
}

.container[b-d2n921cqr2] {
    background-color: black;
}

.top-row[b-d2n921cqr2] {
    height: 140px;
    background-color: rgba(0,0,0);
}

img[b-d2n921cqr2] {
    border-radius: 50%;
    object-fit: contain;
}

.navbar-brand[b-d2n921cqr2] {
    font-size: 1.1rem;
}

.oi[b-d2n921cqr2] {
    width: 32px;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-d2n921cqr2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-d2n921cqr2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-d2n921cqr2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-d2n921cqr2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.sidebar[b-d2n921cqr2]{
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #1d0523 70%);
}

.nav-item[b-d2n921cqr2]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-d2n921cqr2]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-d2n921cqr2] {
        display: none;
    }

    .collapse[b-d2n921cqr2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
