.navbar-toggler[b-d2n921cqr2] {
    background-color: rgba(255, 255, 255, 0.1);
}
a[b-d2n921cqr2] {
    transition: transform .4s
}

.container[b-d2n921cqr2] {
    background-color: black;
}

.top-row[b-d2n921cqr2] {
    height: 140px;
    background-color: rgba(0,0,0);
}

img[b-d2n921cqr2] {
    border-radius: 50%;
    object-fit: contain;
}

.navbar-brand[b-d2n921cqr2] {
    font-size: 1.1rem;
}

.oi[b-d2n921cqr2] {
    width: 32px;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-d2n921cqr2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-d2n921cqr2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-d2n921cqr2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-d2n921cqr2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.sidebar[b-d2n921cqr2]{
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #1d0523 70%);
}

.nav-item[b-d2n921cqr2]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-d2n921cqr2]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-d2n921cqr2] {
        display: none;
    }

    .collapse[b-d2n921cqr2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
